body {
  font-family: Arial, sans-serif;
}


ul {
  list-style-type: none;
}



li {
  display: inline-block;
  color: black;
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

@media only screen and (max-width: 480px) {
  .card {
    width: 100%;
  }
}

@media only screen and (min-width: 481px) {
  .card {
    width: 30%;
  }
}

.card {
  box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-bottom: 40px;
  overflow-wrap: break-word;
  word-break: break-word;
  padding-top: 16px;
  padding-bottom: 14px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 8px;
  background-color: white;
  min-width: 250px;
}

.card:hover {
  box-shadow: 0 16px 24px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: white;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card-fixedsize {
  height: 150px;
  position: relative;
  overflow-y: auto;
  padding-bottom: 0px;
  overflow-x: hidden;
  min-width: 250px;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
